# Django
django>=4.0
django-cors-headers>=4.0.0

# Database
firebase-admin>=6.0.0
python-firebase>=1.2
psycopg2-binary>=2.9.0  # For PostgreSQL (optional)

# NLP
transformers>=4.30.0
torch>=2.0.0
sentence-transformers>=2.2.0
spacy>=3.5.0

# Data Processing
pandas
scikit-learn

# Utilities
python-dotenv>=1.0.0